body {
	width: 100%; 
	height: 100%;
	background-color: #202020;
	color: #fafafa;
} 

div {
    position:absolute; 
	height:100%; 
	width:100%;
	display: table;
	text-align:center;	
	font-size: 36px;
}

div>div{
	position: relative;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

p {		
	color: #FFFFFF;
}
button {
	font-size: 36px;
}

h1.caption{
	position: absolute;
	top: 20px;
	left: 80px;
	font-size: 60px;
}